<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{plain}">

<head>
    <title>Login</title>
</head>
<div layout:fragment="pageContent">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Login Form</h1>
                    <div>
                        <a href="/login"><img src="img/stravaConnectWith.png" id="connectWithStrava" /></a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <br />
                        <br />

                        <div>
                            <img src="img/poweredByStrava.png" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
